
{% extends 'home.html' %}
{% block content %}
    <div class="box">
    <div class="content">
        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
        <h1 style="color:#0899C7 ">Login</h1>
        <br>
        <br>
        <h3>Username</h3>

        <input type="email" placeholder="Email" name="email" required>
        <br>
            <br>
        <h3>Password</h3>

        <input type="password" placeholder="Password" name="password" required>
        <br>
        <br>
        <input type="submit" value="Login" name="b1" style="width: 150px;height: 30px;color: white;background-color: #0899C7;font-weight: 600;border-radius: 5px;">
    </form>
        <div>
        <span  style="color: red;">
        <br>
        <br>
            {% if error %}
                {{ error }}
            {% endif %}
        </span>
        </div>
    </div>
    </div>
{% endblock %}
